DPkg::Pre-Install-Pkgs {
	"while read -r pkg; do case $pkg in *proxmox-widget-toolkit* | *pve-manager*) touch /tmp/.pve-nag-script && exit 0; esac done < /dev/stdin";
};
DPkg::Post-Invoke {
	"[ -f /tmp/.pve-nag-script ] && { /usr/share/pve_nag_script.sh; rm -f /tmp/.pve-nag-script; }; exit 0";
};
