# Managed by Ansible - PVE Ceph sources
{% if pve_ceph_package_source | lower == 'nosubscription' -%}
deb [signed-by={{ pve_repo_keyring_file }}] {{ pve_ceph_nosubscription_source_repo }}
{% elif pve_ceph_package_source | lower == 'enterprise' -%}
deb [signed-by={{ pve_repo_keyring_file }}] {{ pve_ceph_enterprise_source_repo }}
{% elif pve_ceph_package_source | lower == 'custom' -%}
deb [signed-by={{ pve_repo_keyring_file }}] {{ pve_ceph_custom_source_repo }}
{%- endif %}
