DPkg::Pre-Install-Pkgs {
	"while read -r pkg; do case $pkg in *proxmox-widget-toolkit*) touch /tmp/.pmg-nag-script && exit 0; esac done < /dev/stdin";
};
DPkg::Post-Invoke {
	"[ -f /tmp/.pmg-nag-script ] && { /usr/share/pmg_nag_script.sh; rm -f /tmp/.pmg-nag-script; }; exit 0";
};
